// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito");

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.card-header {
    color: aliceblue;
    background-color: #BD600B;
    text-align: center;
}

.btn-primary2 {
    color: #fff;
    background-color: #BD600B;
    border-color: #BD600B;
}

.btn-primary2:hover {
    color: #fff;
    background-color: rgb(202, 51, 51);
    border-color: rgb(202, 51, 51);
}

.btn-primary2:focus,
.btn-primary2.focus {
    color: #fff;
    background-color: rgb(202, 51, 51);
    border-color: rgb(202, 51, 51);
    box-shadow: 0 0 0 0.2rem rgba(225, 82, 82, 0.5);
}

.btn-primary2.disabled,
.btn-primary2:disabled {
    color: #fff;
    background-color: rgb(238, 92, 92);
    border-color: rgb(238, 92, 92);
}

.btn-primary2:not(:disabled):not(.disabled):active,
.btn-primary2:not(:disabled):not(.disabled).active,
.show > .btn-primary2.dropdown-toggle {
    color: #fff;
    background-color: rgb(238, 92, 92);
    border-color: rgb(238, 92, 92);
}

.bg-primary {
    background-color: #BD600B !important;
}

.text-primary {
    color: #BD600B !important;
}

.bg-secondary {
    background-color: rgb(212, 79, 79) !important;
}

th {
    background-color: #BD600B;
    color: white;
}

a {
    color: brown;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgb(116, 30, 30);
    text-decoration: none;
}

